* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  height: 100vh;
  font-size: 2rem;
  line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #222;
  color: #eee;
  padding: 2rem;
}

h1 {
  margin-bottom: 3rem;
}

a {
  color: #4b9cd3;
  text-decoration: none;
}

a:hover {
  color: #38749b;
}

.pilot-list {
  overflow: auto;
  background-color: #333;
  box-shadow: 0 0 7px #eee;
  border: 1px solid #222;
}

.list-header,
.list-item {
  display: grid;
  grid-template-columns: repeat(5, minmax(350px, 1fr));
  min-width: calc(5 * 350px);
  padding: 1rem;
}

.list-header {
  top: 0;
  position: sticky;
  font-weight: bold;
  background-color: #ccc;
  color: #222;
}

.list-item {
  border-bottom: 1px white solid;
}

.list-body {
  max-height: 80vh;
}

.list-item:last-child {
  border-bottom: none;
}
